<div class="main-container">
  <div class="player-display-area-container">
    <div *ngIf="numberOfPlayers >= 1 && playersLives[0] > 0" class="row">
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 1</div>
      </div>
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 1 lives {{ playersLives[0] }}</div>
      </div>
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 1 Score {{ playersScore[0] }}</div>
      </div>
    </div>
    <div *ngIf="numberOfPlayers >= 2 && playersLives[1] > 0" class="row">
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 2</div>
      </div>
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 2 lives {{ playersLives[1] }}</div>
      </div>
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 2 score {{ playersScore[1] }}</div>
      </div>
    </div>
    <div *ngIf="numberOfPlayers >= 3 && playersLives[2] > 0" class="row">
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 3</div>
      </div>
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 3 live {{ playersLives[2] }}</div>
      </div>
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 3 Score {{ playersScore[2] }}</div>
      </div>
    </div>
    <div *ngIf="numberOfPlayers >= 4 && playersLives[3] > 0" class="row">
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 4</div>
      </div>
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 4 lives {{ playersLives[3] }}</div>
      </div>
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 4 Score {{ playersScore[3] }}</div>
      </div>
    </div>
  </div>

  <div class="gameboard-container">
    <div class="row game-board-row-1 gameboard-subfield">
      <div
        *ngIf="numberOfPlayers >= 1 && playersLives[0] > 0"
        class="text-display"
      >
        <div>Player 1 Dice Rolls:</div>
        <ng-container
          class="dice-imgs"
          *ngFor="let dices of diceRolls[0]; let i = index"
        >
          <img
            src="./assets/{{ diceRolls[0][i] }}.png"
            alt=""
            style="width: 30px; 
            margin-left: 5px;
            margin-top: 10px;"
          />
        </ng-container>
      </div>
    </div>
    <div class="row game-board-row-2 gameboard-subfield">
      <div
        *ngIf="numberOfPlayers >= 3 && playersLives[2] > 0"
        class="text-display"
      >
        <div>Player 3 Dice Rolls:</div>
        <ng-container
          class="dice-imgs"
          *ngFor="let dices of diceRolls[2]; let i = index"
        >
          <img
            src="./assets/{{ diceRolls[2][i] }}.png"
            alt=""
            style="width: 30px; 
            margin-left: 5px;
            margin-top: 10px;"
          />
        </ng-container>
      </div>
      <div>
        <button (click)="btnDiceRoll()" mat-raised-button color="primary">
          Roll
        </button>
      </div>
      <div
        *ngIf="numberOfPlayers >= 4 && playersLives[3] > 0"
        class="text-display"
      >
        <div>Player 4 Dice Rolls:</div>
        <ng-container
          class="dice-imgs"
          *ngFor="let dices of diceRolls[3]; let i = index"
        >
          <img
            src="./assets/{{ diceRolls[3][i] }}.png"
            alt=""
            style="width: 30px; 
            margin-left: 5px;
            margin-top: 10px;"
          />
        </ng-container>
      </div>
    </div>
    <div class="row game-board-row-3 gameboard-subfield">
      <div
        *ngIf="numberOfPlayers >= 2 && playersLives[1] > 0"
        class="text-display"
      >
        <div>Player 2 Dice Rolls:</div>
        <ng-container
          class="dice-imgs"
          *ngFor="let dices of diceRolls[1]; let i = index"
        >
          <img
            src="./assets/{{ diceRolls[1][i]}}.png"
            alt=""
            style="width: 30px; 
            margin-left: 5px;
            margin-top: 10px;"
          />
        </ng-container>
      </div>
    </div>
  </div>

  <div class="pool-table">
    <div class="table-carpet"></div>
    <div class="table-border"></div>

    <!-- pockets -->
    <div class="pocket top-left"></div>
    <div class="pocket top-center"></div>
    <div class="pocket top-right"></div>
    <div class="pocket bottom-left"></div>
    <div class="pocket bottom-center"></div>
    <div class="pocket bottom-right"></div>

    <!-- holes -->
    <div class="hole top-left"></div>
    <div class="hole top-center"></div>
    <div class="hole top-right"></div>
    <div class="hole bottom-left"></div>
    <div class="hole bottom-center"></div>
    <div class="hole bottom-right"></div>
  </div>
</div>
