:root{
  --neon-border-color:#F50057;
}

.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(24, 223, 30);
  background: linear-gradient(
    149deg,
    rgba(24, 223, 30, 1) 1%,
    rgba(241, 30, 30, 0.9892157546612395) 100%
  );
  min-height: 420px;
}

.player-display-area-container {
  display: flex;
  height: 50vh;
  flex-direction: row;
  justify-content: space-between;
  width: 99vw;
}

.subfield {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16vh;
  width: 24vw;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 2.5s infinite alternate;  

}

.subfield::-moz-selection {
  background-color: var(--neon-border-color);
}

.subfield::selection {
  background-color: var(--neon-border-color);
}

.subfield:focus {
  outline: none;
}


.gameboard-container {
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 99vw;
  height: 62vh;
  align-items: stretch;
  color: red;
  /*background-image: url('/assets/pool-table.PNG');*/
  background-repeat: no-repeat;
  background-size: 100% 100%;

  font-size: 20px;
}

.gameboard-subfield {
  display: flex;
  width: 100%;
  height: 100%;
}
.game-board-row-1 {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-board-row-2 {
  order: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.game-board-row-3 {
  order: 3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-imgs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;
  
}


.text-display {
  color: rgb(246, 245, 248);
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #bc13fe,
    0 0 5px #bc13fe, 0 0 10px #bc13fe, 0 0 12px #bc13fe, 0 0 14px #bc13fe;

  font-size: 20px;
  animation: pulsate 1.5s infinite alternate;

}


@keyframes pulsate {
  100% {
    text-shadow: 0 0 1px #fff, 0 0 4px #bc13fe, 0 0 5px #bc13fe,
      0 0 10px #bc13fe, 0 0 12px #bc13fe, 0 0 14px #bc13fe;
  }

  0% {
    text-shadow: 0 0 2px #fff, 0 0 10px #bc13fe;
  }
}

/* Animate neon flicker */
@keyframes flicker {
    
  100% {
      box-shadow:
          0 0 .5rem #fff,
          inset 0 0 .5rem #fff,
          0 0 1rem #F50057,
          inset 0 0 1rem #F50057      
  }
  
  0%{
    box-shadow:
    0 0 .2rem #fff,
    inset 0 0 .2rem #fff,
    0 0 .5rem #F50057,
    inset 0 0 .5rem #F50057;
  }
  
}



.pool-table {
  display: flex;
  width: 100vw;
  height: 50vh;
  position: absolute;
  top: 50vh;
  left: 0vw;

  border: 20px solid #8e1111;
  box-shadow: 0px 0px 5px 1px #000 inset;
  border-radius: 10px;
}

.table-carpet {
  display: block;
  position: relative;

  width: 100%;
  height: 100%;

  background-color: #116336;
  box-shadow: 0px 0px 10px 3px #052f18 inset;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #16a757 0%,
    #116336 85%
  );
  /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #16a757 0%,
    #116336 85%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #16a757 0%, #116336 85%);
}

/*.table-border {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -20px;
  left: -20px;
  border: 20px solid #8e1111;
  box-shadow: 0px 0px 5px 1px #000 inset;
  border-radius: 10px;
  z-index: 2;
}
*/
.pocket {
  display: none;
  position: absolute;
  width: 43px;
  height: 43px;
  background: #484040;
}
.pocket.top-left {
  display: block;
  top: -20px;
  left: -20px;
  border-radius: 8px 0 0 0;
}
.pocket.top-center {
  display: block;
  top: -20px;
  left: 50%;
  width: 50px;
  height: 20px;
  margin-left: -30px;
}
.pocket.top-right {
  display: block;
  top: -20px;
  right: -20px;
  border-radius: 0 8px 0 0;
}
.pocket.bottom-right {
  display: block;
  bottom: -20px;
  right: -20px;
  border-radius: 0 0 8px 0;
}
.pocket.bottom-center {
  display: block;
  bottom: -20px;
  left: 50%;
  width: 50px;
  height: 20px;
  margin-left: -30px;
}
.pocket.bottom-left {
  display: block;
  bottom: -20px;
  left: -20px;
  border-radius: 0 0 0 8px;
}
.hole {
  position: absolute;
  width: 40px;
  height: 40px;

  background: #2b2b2b;
  border-radius: 50%;
  box-shadow: 0px 0px 4px #000;
}
.hole.top-left {
  top: -10px;
  left: -10px;
}
.hole.bottom-left {
  bottom: -10px;
  left: -10px;
}
.hole.top-center {
  top: -14px;
  left: 50%;
  margin-left: -25px;
}
.hole.bottom-center {
  bottom: -14px;
  left: 50%;
  margin-left: -25px;
}
.hole.top-right {
  top: -10px;
  right: -10px;
}
.hole.bottom-right {
  bottom: -10px;
  right: -10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
