
.tiles-color{
    background-color: rgb(255, 252, 77);
}
.slider-tiles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


mat-slider{
    width:10vw;
    justify-content: center;
}
.tiles-color{
    background-color: chartreuse;
}
button{
    height: 10vh;
    width: 40vw;
}
.instructions{
    font-size: large;
}