<div class="tiles-color">
<mat-grid-list cols="2" rowHeight="34vh" class="tiles-color">
  <!--Grid Tiles 1 and 2 contain sliders for the number of players and dice per player-->

  <mat-grid-tile class="tiles-color">
    
      <div class="slider-tiles">
        <ul class="text-font">
          Number Of Players
        </ul>
        <ul>
          <mat-slider
            #playerNumSliderValue
            
            tickInterval="1"
            min="2"
            max="4"
            step="1"
            value="2"
            (change)="updatePlayerNumSliderValue($event)"
          ></mat-slider>
        </ul>
        <ul class="text-font">
          {{
            playerNumSliderValue.value
          }}
        </ul>
      </div>
    
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="slider-tiles">
      <ul class="text-font">
        Number Of Dice Per Player
      </ul>
      <ul >
        <mat-slider
          #numberDice
          
         
          tickInterval="1"
          min="1"
          max="4"
          step="1"
          value="1"
          (change)="updateNumberDiceSliderValue($event)"
        ></mat-slider>
      </ul>
      <ul class="text-font">
        {{
          numberDice.value
        }}
      </ul>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<!-- contains button that starts the game -->
<mat-grid-list cols="1" rowHeight="30vh" class="tiles-color">
  <mat-grid-tile>
    <button
      mat-raised-button
      color="warn"
      (click)="gotoGameBoardPage(numberDice.value, playerNumSliderValue.value)"
    >
      Start Game
    </button>
  </mat-grid-tile>
</mat-grid-list>
<!-- contains the instructions for the players to read before starting the game -->
<mat-grid-list cols="1" rowHeight="36vh" class="tiles-color">
  <mat-grid-tile>
    <div class="instructions text-display ">
      <h1>Instructions</h1>
      <p>Choose the number of players</p>
      <p>Choose the number of dice per player</p>
      <p> Click Button to Roll the dice</p>
      <p>The player/s with the lowest roll loses a life</p>
      <p>Each player gets 6 lives</p>
      <p>It is possible for No winners</p>
    </div>
  </mat-grid-tile>
</mat-grid-list>
</div>