* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.tiles-color{
    background-color:rgb(24, 223, 30);
}
button{
    height: 10vh;
    width: 40vw;
}

.text-display {
    color: rgb(246, 245, 248);
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #bc13fe,
      0 0 5px #bc13fe, 0 0 10px #bc13fe, 0 0 12px #bc13fe, 0 0 14px #bc13fe;
  
    font-size: 20px;
    animation: pulsate 1.5s infinite alternate;
  }
  
  @keyframes pulsate {
    100% {
      text-shadow: 0 0 1px #fff, 0 0 4px #bc13fe, 0 0 5px #bc13fe,
        0 0 10px #bc13fe, 0 0 12px #bc13fe, 0 0 14px #bc13fe;
    }
  
    0% {
      text-shadow: 0 0 2px #fff, 0 0 10px #bc13fe;
    }
  }
  